<mat-nav-list (click)="closeSideNav()">
    <mat-list-item *ngIf="!isAuth" routerLink="/signup"><mat-icon>face</mat-icon><span class="nav-caption">Signup</span></mat-list-item>
    <mat-list-item *ngIf="!isAuth" routerLink="/login"><mat-icon>input</mat-icon><span class="nav-caption">Login</span></mat-list-item>
    <mat-list-item *ngIf="isAuth" routerLink="/training"><mat-icon>fitness_center</mat-icon><span class="nav-caption">Training</span></mat-list-item>
    <mat-list-item *ngIf="isAuth"><button mat-icon-button (click)="onLogout()"><mat-icon>exit_to_app</mat-icon><span class="nav-caption">Logout</span></button></mat-list-item>
</mat-nav-list>